$font-body: 'Montserrat', sans-serif;
$font-color: #ffffff;
$font-title-color: #333;
$background-color: #f8f9fb;
$primary-color: #365196;
$primary-color-active: #007bff;
$secondary-color: #2a6496;
$dashboard-color: #0f162a;
$font-subtitle-color: #8a8a8a;
$font-red: #dc2626;
$font-green: #16a34a;
